@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100,0,300,0,400,0,700,0,900,1,100,1,300,1,400,1,700,1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    font-size: 16px;
    color: #1E212C;
    scrollbar-gutter: stable;
}

.header {
    position: relative;
    margin-bottom: 180px;
}

.container {
    margin: 0 auto;
    max-width: 1284px;
    padding: 0 10px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px;
}
.logo {
    margin-top: 35px;
}
.menu {
    margin-top: 35px;
}
.menu__list {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* margin-left: -150px; */
}

.dialog {
    position: fixed;
    margin: 0;
    width: 486px;
    height: 653px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
    /* backdrop-filter: blur(5px); */
}

.dialog__inner {
    padding: 48px;
}

.open-modal {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 20px;
    padding: 5px 45px;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    font-size: 20px;
    /* padding: 5px 45px; */
    top: 24px;
    right: 24px;
}

.ri-close-large-line {
    color: #787A80;
}

.scroll-block {
    overflow: hidden;
}

.dialog__text {
    font-weight: 800;
    text-align: center;
    font-size: 28px;
    color: #1E212C;
    line-height: 1.5;
    padding-bottom: 24px;
}
.dialog__subtext {
    font-weight: 500;
    font-size: 14px;
    color: #787A80;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 24px;
}
.dialog__form {
    display: flex;
    flex-direction: column;
}

.dialog__form label {
    padding-bottom: 8px;
    color: #424551;
    font-size: 14px;
    font-weight: 500;
}

.dialog__input {
    width: 100%;
    border: 2px solid #D7DADD;
    padding: 12px 0 13px 16px;
    /* outline: 1px solid #D7DADD; */
    border-radius: 4px;
    margin-bottom: 20px;
    color: #787A80;
}
.dialog__checkbox {
    display: flex;
    color: #424551;
    font-size: 14px;
    font-weight: 500;
}

.dialog__checkbox label {
    margin-left: 12px;
    margin-bottom: 24px;
}

.checkbox__input {
    color: #fff;
    accent-color: #FF3F3A;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.forgot__password {
    margin-left: auto;
    color: #FF3F3A;
    cursor: pointer;
}
.dialog__btn {
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    color: #fff;
    background: linear-gradient(135deg, #FF3F3A, #F75E05);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 24px;
}
.dialog__title {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: #424551;
    padding-bottom:  24px;
}

.dialog__title a {
    color: #FF3F3A;
}

.gray__line {
    background-color: #E5E8ED;
    height: 1px;
    padding: 0;
    width: 100%;
    margin-bottom: 24px;
}
.dialog__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.dialog__social-text {
    font-size: 14px;
    font-weight: 500;
    color: #787A80;
    text-align: center;
    padding-bottom: 16px;
}

.dialog__social-link {
    width: 20px;
    height: 20px;
    color: #787A80;
    transition: color 0.3s ease;
}

.dialog__social-link:hover {
    color: #FF3F3A;
}

.dialog__singup {
    width: 486px;
    height: 839px;
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.close-modal-singup {
    position: absolute;
    top: 24px;
    right: 24px;
}

.dialog__singup .checkbox__input {
    color: #fff;
    accent-color: #FF3F3A;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.dialog__singup .dialog__checkbox label {
    margin-left: 12px;
    margin-bottom: 24px;
}

.menu__link {
    position: relative;
    color: inherit;
    font-weight: 800;
}

.menu__link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #FF3F3A;
    transition: width 0.3s ease;
    border-radius: 3px;
}

.menu__link:hover::after {
    width: 100%;
}

.header__buttons {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 36px;
    cursor: pointer;
}
.header__btn {
    color: inherit;
    font-weight: 800;
}

.header__btn-red {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 800;
    background: linear-gradient(135deg, #FF3F3A, #F75E05);
    width: 206px;
    height: 52px;
    border-radius: 4px;
}

.header__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 165px;
}

.header__about {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.header__subtext {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.header__text {
    font-weight: 800;
    font-size: 46px;
    margin-bottom: 48px;
}
.header__title {
    line-height: 1.5;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.header__subtitle {
    line-height: 1.6;
    font-weight: 500;
    font-size: 16px;
    color: #424551;
    margin-bottom: 60px;
}

.about__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.about__btn1 {
    color: #FF3F3A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #FF3F3A;
    width: 192px;
    height: 52px;
    font-weight: 700;
}
.about__btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 700;
    background: linear-gradient(135deg, #FF3F3A, #F75E05);
    width: 200px;
    height: 52px;
    border-radius: 4px;
}

.video {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}
.video__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #FF3F3A;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    animation: pulse 1.5s infinite;
}

.header__img {
    max-width: 602px;
    width: 100%;
    height: auto;
}

.video__icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 61, 61, 0.4);
    animation: ripple 1.5s infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

@keyframes ripple {
    0% {transform: scale(1);
    opacity: 0.6;}
    100% {transform: scale(1.5); opacity: 0;}
}

.ri-play-fill {
    position: absolute;
    width: 16px;
    height: 16px;
    color: #FFF;
}
.video__text {
    font-size: 14px;
    color: #1E212C;
    font-weight: 700;
}

.statictic {
    margin-bottom: 180px;
}

.statictic__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.statictic__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.statictic__text {
    display: flex;
    align-items: center;
}

.statictic__text p {
    padding-left: 16px;
}

.red {
    color: #FF3F3A;
    font-weight: 900;
    font-size: 48px;
}

.values__subtext {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}
.values__text {
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 60px;
}

.values__info {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.values__box {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.values__box:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: -45px;
    width: 1px;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(211, 211, 211, 0) 0%,
        rgba(211, 211, 211, 1) 50%,
        rgba(211, 211, 211, 0) 100%
    );
}

.values__box-text {
    margin-top: 24px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.values__box-title {
    font-weight: 500;
    font-size: 16px;
    color: #787A80;
    line-height: 1.6;
    text-align: center;
    margin-top: 8px;
}

.values__no-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.values {
    margin-bottom: 180px;
}

.directions {
    margin-bottom: 180px;
}

.directions__box img {
    margin-bottom: 24px;
}

.directions__subtext {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;
    
}
.directions__text {
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 60px;
    text-align: center;
}

.directions__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.directions__box {
    max-width: 390px;
    width: 100%;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    height: 420px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.directions__box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.directions__btn-green {
    background: #03CEA4;
    max-width: 90px;
    height: 28px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #FFF;
    font-weight: 400;
    margin: 0 24px 20px 24px;
    border-radius: 4px;
}

.directions__btn-blue {
    background: #5A87FC;
    max-width: 110px;
    height: 28px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #FFF;
    font-weight: 400;
    margin: 0 24px 20px 24px;
    border-radius: 4px;
}

.directions__btn-orange {
    background: #F89828;
    max-width: 130px;
    height: 28px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #FFF;
    font-weight: 400;
    margin: 0 24px 20px 24px;
    border-radius: 4px;
}

.directions__btn-pink {
    background: #F52F6E;
    max-width: 66px;
    height: 28px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #FFF;
    font-weight: 400;
    margin: 0 24px 20px 24px;
    border-radius: 4px;
}

.directions__btn-purple {
    background: #7772F1;
    max-width: 113px;
    height: 28px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #FFF;
    font-weight: 400;
    margin: 0 24px 20px 24px;
    border-radius: 4px;
}

.directions__title {
    margin: 0 24px 20px 24px;
    color: #787A80;
    line-height: 1.6;
    font-weight: 500;
    font-size: 16px;
}
.directions__link {
    margin: 0 24px;
    font-weight: 700;
    font-size: 16px;
    transition: color 0.3s ease;
    color: #1E212C;
}

.directions__link:hover {
    color: #FF3F3A;
}

.directions__box-soon {
    max-width: 390px;
    width: 100%;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    height: 420px;
    cursor: pointer;
    background-color: #F4F5F6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;

}
.soon__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 74px;
    text-align: center;
    color: #424551;
}

.directions__link .ri-arrow-right-line {
    color: #FF3F3A;
    margin-left: 11px;
}

.studying {
    margin-bottom: 180px;
}

.studying__subtext {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.studying__text {
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 60px;
}
.studying__block-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.studying__text-block {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.studying__block {
    position: relative;
    max-width: 470px;
    /* padding-left: 40px; */
}

.studying__block::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #FF3F3A;
    width: 8px;
    height: 8px;
    top: 4px;
}

.studying__content {
    margin-left: 44px;
}

.studying__line {
    position: absolute;
    height: 100px;
    width: 1px;
    background-color: #9A9CA5;
    bottom: -20px;
    left: 3px;
}

.studying__subtext__block {
    color: #787A80;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}
.studying-img {
    position: absolute;
    right: 0;
    top: -110px;
}

.studying__block-title {
    font-weight: 700;
    font-size: 12px;
    color: #787A80;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.studying__block h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

.team {
    margin-bottom: 120px;
}

.team__subtitle {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.team__text {
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 60px;
}

.team__info {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}
.person__box {
    max-width: 285px;
    height: 416px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.4s ease;
    flex-wrap: wrap;
}

.person__box:hover {
    transform: translateY(-5px);
}

.person__img-bg {
    background-color: #FFCF2D;
    width: 285px;
    height: 340px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
}

.person__name {
    color: #424551;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 4px;
}
.person__job {
    color: #787A80;
    font-size: 16px;
    font-weight: 500;
}

.person__box-socials {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.0));
    transition: height 0.4s ease;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    padding-right: 20px;
}

.person__img-bg:hover .person__box-socials {
    height: 25%;
}

.socials {
    opacity: 0;
    display: flex;
    gap: 15px;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.person__img-bg:hover .socials {
    opacity: 0.6;
    transform: translateY(0);
}

.social__link {
    color: #fff;
    opacity: 0.6;
    transition: opacity 0.4s ease;
}

.social__link:hover {
    opacity: 1;
    color: #fff;
}

.student__about {
    margin: 180px 0 60px 0;
    text-align: center;
}
.student__subtext {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #1E212C;
    padding-bottom: 8px;
    padding-top: 100px;
}
.student__text {
    font-size: 46px;
    color: #1E212C;
    font-weight: 700;
}

.student__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.student__box {
    max-width: 1020px;
    height: 344px;
    display: flex;
    gap: 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    padding: 64px 105px;
}
.student-img {
    width: 28px;
    height: 20px;
}

.student__box-text {
    font-size: 20px;
    font-weight: 500;
    color: #424551;
    line-height: 1.5;
}
.student__user {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 20px;
}

.user__name {
    color: #1E212C;
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 4px;
}
.user__position {
    font-size: 14px;
    font-weight: 500;
    color: #787A80;
}

.line {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 180px;
}
.line-black {
    background-color: #424551;
    width: 30px;
    height: 4px;
    border-radius: 2px;
}

.line-gray {
    width: 30px;
    height: 4px;
    background-color: #B3B7BC;
    border-radius: 2px;
}

.testimonials {
    margin-bottom: 120px;
}

.testimonials__arrow  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424551;
    width: 18px;
    height: 11px;
    transition: all 0.4s ease;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.testimonials__arrow:hover {
    background-color: #FF3F3A;
    color: #fff;
}

.testimonials {
    background-color: #F4F5F6;
    height: 1256px;
    margin-bottom: 100px;
}

.best__jobs {
}
.best__jobs-subtext {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.best__jobs-text {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 46px;
    text-align: center;
}
.best__jobs-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px 102px;
    flex-wrap: wrap;
    cursor: pointer;
}

.posts {
    margin-bottom: 180px;
}

.posts__info-subtext {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #1E212C;
    padding-bottom: 8px;
}
.posts__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.posts__info-text {
    font-size: 46px;
    font-weight: 700;
    color: #1E212C;
}
.posts__btn {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 159px;
    height: 52px;
    background: linear-gradient(135deg, #FF3F3A, #F75E05);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts__card {
    position: relative;
    max-width: 390px;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.posts__card:hover {
    transform: translateY(-5px);
}

.post__img {
    min-height: 300px;
    /* max-width: 390px; */
}

.posts__date {
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

.posts__date p {
    font-size: 14px;
    font-weight: 500;
    color: #787A80;
    
}

.posts__question {
    font-size: 20px;
    font-weight: 700;
    color: #1E212C;
    line-height: 1.5;
    padding: 8px 0 8px 0;
}
.posts__text {
    font-size: 16px;
    font-weight: 500;
    color: #424551;
    line-height: 1.6;
    padding-bottom: 16px;
}
.posts__link {
    color: #1E212C;
    font-size: 16px;
    font-weight: 700;
}

.posts__link i {
    color: #FF3F3A;
    padding-left: 11px;
}

.posts__card-box {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.ri-calendar-line {
    padding-right: 8px;
}

.ri-time-line {
    padding-right: 8px;
}

.posts__card-absolute {
    position: absolute;
    padding: 0 8px;
    width: 77px;
    height: 23px;
    background-color: #fff;
    top: 12px;
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.posts__card-absolute p {
    color: #424551;
    font-size: 14px;
}

.ri-file-text-line {
    padding-right: 4px;
}

.ri-play-circle-line {
    padding-right: 4px;
}

.ri-mic-line {
    padding-right: 4px;
}

.email-section {
    background: linear-gradient(-45deg, #FFB4AF, #FFC3B8, #FFBCAD, #FFE8DD);
    animation: gradient 12s ease infinite;
    background-size: 400% 400%;
    height: 564px;
    position: relative;
}

.email__subtext {
    font-size: 16px;
    font-weight: 700;
    color: #1E212C;
    padding-top: 120px;
    padding-bottom: 8px;
    text-align: center;
}

.email__text {
    font-size: 46px;
    font-weight: 700;
    color: #1E212C;
    text-align: center;
    padding-bottom: 60px;
}

.email__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.info-form {
    background-color: #ffffff;
    max-width: 600px;
    min-height: 52px;
    display: flex;
    padding: 13px 272px 13px 16px;
    border-radius: 4px;
    border: 1px solid #D7DADD;
    outline: none;
}

.btn {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 159px;
    height: 52px;
    background: linear-gradient(135deg, #FF3F3A, #F75E05);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-form::placeholder {
    color: #9A9CA5;
    font-size: 16px;
}
.email-img1 {
    position: absolute;
    left: 0;
    bottom: 0;
}
.email-img2 {
    position: absolute;
    right: 0;
    bottom: 0;
}
.footer {
    background-color: #1E212C;
    height: 384px;
}

.footer__inner {
    padding-top: 80px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 80px;

}

.footer__main {
    max-width: 279px;

}

.footer__main-text {
    opacity: 0.6;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 38px;
}
.footer__social {
    display: flex;
    align-items: center;
    gap: 20px;
}
.social__link {
    opacity: 0.6;
}

.social__link:hover {
    opacity: 1;
}

.footer__column-box {
    display: flex;
    align-items: flex-start;
    gap: 80px;
}

.column__text {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.column__item {
    padding-bottom: 8px;
}
.column__link {
    color: #fff;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}
.ri-smartphone-line {
    padding-right: 8px;
}
.ri-mail-line {
    padding-right: 8px;
}
.footer__input {
    min-height: 36px;
    max-width: 286px;
    width: 100%;
    background-color: #1E212C;
    border: 1px solid #5C5D66;
    border-radius: 4px;
    padding: 9px 44px 9px 12px;
    color: #fff;
}

.footer__form {
    position: relative;
    padding-bottom: 12px;
}

.input__arrow {
    position: absolute;
  top: 11px;
  right: 14px;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer__subtext {
    font-size: 10px;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
}

.footer__column-4 {
    max-width: 286px;
}

.footer__bottom {
    /* opacity: 0.05; */
    margin-top: 60px;
}

.footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}

.footer__bottom-text {

    color: #fff;
}
.ri-heart-3-line {
    color: #FF3F3A;
}
.footer__bottom-subtext {
    color: #fff;
}