@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100,0,300,0,400,0,700,0,900,1,100,1,300,1,400,1,700,1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    font-size: 16px;
    color: #1E212C;
    scrollbar-gutter: stable;
}

.header {
    position: relative;
    margin-bottom: 180px;
}

.container {
    margin: 0 auto;
    max-width: 1284px;
    padding: 0 10px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px;
}
.logo {
    margin-top: 35px;
}
.menu {
    margin-top: 35px;
}
.menu__list {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* margin-left: -150px; */
}

.menu__link {
    position: relative;
    color: inherit;
    font-weight: 800;
}

.menu__link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #FF3F3A;
    transition: width 0.3s ease;
    border-radius: 3px;
}

.menu__link:hover::after {
    width: 100%;
}

.header__buttons {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 36px;
    cursor: pointer;
}
.header__btn {
    color: inherit;
    font-weight: 800;
}

.header__btn-red {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 800;
    background: linear-gradient(135deg, #FF3F3A, #F75E05);
    width: 206px;
    height: 52px;
    border-radius: 4px;
}

.header__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 165px;
}

.header__about {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.header__subtext {
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.header__text {
    font-weight: 900;
    font-size: 46px;
    margin-bottom: 48px;
}
.header__title {
    line-height: 1.5;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
}
.header__subtitle {
    line-height: 1.6;
    font-weight: 500;
    font-size: 16px;
    color: #424551;
    margin-bottom: 60px;
}

.about__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.about__btn1 {
    color: #FF3F3A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #FF3F3A;
    width: 192px;
    height: 52px;
    font-weight: 800;
}
.about__btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 800;
    background: linear-gradient(135deg, #FF3F3A, #F75E05);
    width: 200px;
    height: 52px;
    border-radius: 4px;
}

.video {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}
.video__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #FF3F3A;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    animation: pulse 1.5s infinite;
}

.header__img {
    max-width: 602px;
    width: 100%;
    height: auto;
}

.video__icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 61, 61, 0.4);
    animation: ripple 1.5s infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

@keyframes ripple {
    0% {transform: scale(1);
    opacity: 0.6;}
    100% {transform: scale(1.5); opacity: 0;}
}

.ri-play-fill {
    position: absolute;
    width: 16px;
    height: 16px;
    color: #FFF;
}
.video__text {
    font-size: 14px;
    color: #1E212C;
    font-weight: 800;
}

.statictic {
    margin-bottom: 180px;
}

.statictic__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.statictic__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.statictic__text {
    display: flex;
    align-items: center;
}

.statictic__text p {
    padding-left: 16px;
}

.red {
    color: #FF3F3A;
    font-weight: 900;
    font-size: 48px;
}

.values__subtext {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}
.values__text {
    text-align: center;
    font-weight: 900;
    font-size: 46px;
    margin-bottom: 60px;
}

.values__info {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.values__box {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.values__box:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: -45px;
    width: 1px;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(211, 211, 211, 0) 0%,
        rgba(211, 211, 211, 1) 50%,
        rgba(211, 211, 211, 0) 100%
    );
}

.values__box-text {
    margin-top: 24px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.values__box-title {
    font-weight: 500;
    font-size: 16px;
    color: #787A80;
    line-height: 1.6;
    text-align: center;
    margin-top: 8px;
}

.values__no-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.values {
    margin-bottom: 180px;
}

.directions {
    margin-bottom: 180px;
}

.directions__box img {
    margin-bottom: 24px;
}

.directions__subtext {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;
    
}
.directions__text {
    font-weight: 900;
    font-size: 46px;
    margin-bottom: 60px;
    text-align: center;
}

.directions__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.directions__box {
    max-width: 390px;
    width: 100%;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    height: 420px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.directions__box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.directions__btn-green {
    background: #03CEA4;
    max-width: 90px;
    height: 28px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #FFF;
    font-weight: 400;
    margin: 0 24px 20px 24px;
    border-radius: 4px;
}

.directions__btn-blue {
    background: #5A87FC;
    max-width: 110px;
    height: 28px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #FFF;
    font-weight: 400;
    margin: 0 24px 20px 24px;
    border-radius: 4px;
}

.directions__btn-orange {
    background: #F89828;
    max-width: 130px;
    height: 28px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #FFF;
    font-weight: 400;
    margin: 0 24px 20px 24px;
    border-radius: 4px;
}

.directions__btn-pink {
    background: #F52F6E;
    max-width: 66px;
    height: 28px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #FFF;
    font-weight: 400;
    margin: 0 24px 20px 24px;
    border-radius: 4px;
}

.directions__btn-purple {
    background: #7772F1;
    max-width: 113px;
    height: 28px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #FFF;
    font-weight: 400;
    margin: 0 24px 20px 24px;
    border-radius: 4px;
}

.directions__title {
    margin: 0 24px 20px 24px;
    color: #787A80;
    line-height: 1.6;
    font-weight: 500;
    font-size: 16px;
}
.directions__link {
    margin: 0 24px;
    font-weight: 700;
    font-size: 16px;
    transition: color 0.3s ease;
    color: #1E212C;
}

.directions__link:hover {
    color: #FF3F3A;
}

.directions__box-soon {
    max-width: 390px;
    width: 100%;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    height: 420px;
    cursor: pointer;
    background-color: #F4F5F6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;

}
.soon__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 74px;
    text-align: center;
    color: #424551;
}

.ri-arrow-right-line {
    color: #FF3F3A;
    margin-left: 11px;
}

.studying {
    margin-bottom: 180px;
}
.container {
}
.studying__inner {
}
.studying__subtext {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.studying__text {
    font-weight: 900;
    font-size: 46px;
    margin-bottom: 60px;
}
.studying__block-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.studying__text-block {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.studying__block {
    position: relative;
    max-width: 470px;
    /* padding-left: 40px; */
}

.studying__block::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #FF3F3A;
    width: 8px;
    height: 8px;
    top: 4px;
}

.studying__content {
    margin-left: 44px;
}

.studying__line {
    position: absolute;
    height: 100px;
    width: 1px;
    background-color: #9A9CA5;
    bottom: -20px;
    left: 3px;
}

.studying__subtext__block {
    color: #787A80;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}
.studying-img {
    position: absolute;
    right: 0;
    top: -110px;
}

.studying__block-title {
    font-weight: 700;
    font-size: 12px;
    color: #787A80;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.studying__block h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

.team {
    margin-bottom: 120px;
}
.container {
}
.team_inner {
}
.team__subtitle {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.team__text {
    text-align: center;
    font-weight: 900;
    font-size: 46px;
    margin-bottom: 60px;
}

.team__info {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}
.person__box {
    max-width: 285px;
    height: 416px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.4s ease;
    flex-wrap: wrap;
}

.person__box:hover {
    transform: translateY(-5px);
}

.person__img-bg {
    background-color: #FFCF2D;
    width: 285px;
    height: 340px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
}

.person__name {
    color: #424551;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 4px;
}
.person__job {
    color: #787A80;
    font-size: 16px;
    font-weight: 500;
}

.person__box-socials {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.0));
    transition: height 0.4s ease;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    padding-right: 20px;
}

.person__img-bg:hover .person__box-socials {
    height: 25%;
}

.socials {
    opacity: 0;
    display: flex;
    gap: 15px;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.person__img-bg:hover .socials {
    opacity: 0.6;
    transform: translateY(0);
}

.social__link {
    color: #fff;
    opacity: 0.6;
    transition: opacity 0.4s ease;
}

.social__link:hover {
    opacity: 1;
    color: #fff;
}

.person__img-bg {
}
.person__img {
}
.person__box-socials {
}
.socials {
}
.social__link {
}

.person__name {
}
.person__job {
}